@model IEnumerable<FooDo2.Models.table>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/tableLayout.cshtml";
}
<style>
    .draggable {
        position: fixed;
        width:150px;
        height:50px;
        background-color:saddlebrown;
    }

</style>

    @foreach (var item in Model)
    {
        <a onmouseup="SavePositions(@Html.DisplayFor(modelItem => item.ID))" 
           id="@Html.DisplayFor(modelItem => item.ID)" class="draggable" 
           style="left: @Html.DisplayFor(modelItem => item.positionX)px; top: @Html.DisplayFor(modelItem => item.positionY)px;" 
           href="@Url.Action("TableDetails", "Tables", new { id = item.ID })"> N. @item.number size: @item.size </a>;
    }
   
<script>
    $(function () {
        $(".draggable").draggable();
    });

    function SavePositions(id) {
        var offsets = document.getElementById(id).getBoundingClientRect();
        var top = offsets.top;
        var left = offsets.left;
       
        $.post("/Tables/EditPosition", { id: id, x: left, y: top }, function (data) { });

    }

</script>




