@model IEnumerable<FooDo2.Models.order>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/tableLayout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idTable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeOpen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeClose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user1.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idTable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user1.name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "OrderFood", new { id = item.ID },null)
            </td>
        </tr>
    }

</table>
